a {
    text-decoration: none !important;
}
@tailwind base;
@tailwind components;
@tailwind utilities;

h1 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 0.5em;
}

h2 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 0.5em;
}

h3 {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 0.5em;
}

ul {
    list-style: disc;
    margin-bottom: 0.5em;
    margin-left: 1.25em;
}

ul li {
    margin-bottom: 0.25em;
}

ol {
    list-style: decimal;
    margin-bottom: 0.5em;
    margin-left: 1.25em;
}

ol li {
    margin-bottom: 0.25em;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

td,
th {
    border: 1px solid #ddd;
    padding: 0.5em;
}

.btn {
    @apply border-2;
}
